.container {
    padding: 2rem 0 2rem 0;
    background-color: var(--clr-background);
}

.container__actions {
    max-width: 770px;
    margin: 0 auto;
}

.container__actions select {
    margin: 0px;
}

.document-name,
.document-sort,
.search-option,
.search-value,
.document__search div {
    width: 320px;
}

.document__name,
.document__search {
    display: flex;
    align-items: end;
    justify-content: start;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 2rem;
}

.document__search input {
    background-color: unset;
    height: 37px;
}

.container__pagination {
    padding-top: 2rem;
    text-align: center;
}

.container__pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.table__header,
.table__row {
    padding: 1rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 2fr;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid var(--clr-gray);
    justify-items: center;
}

.table__header {
    font-weight: bold;
    color: var(--clr-white);
    background-color: var(--clr-gray);
    font-size: 1.275rem;
}

.row__actions {
    color: var(--clr-gray);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.table__row:not(:first-child):hover {
    background-color: var(--clr-gray-background);
}

.table__row img {
    max-width: 50px;
}

.add-document {
    padding-bottom: 2rem;
}

.no-items {
    text-align: center;
}

.container h2 {
    text-align: center;
}

.container a {
    width: 220px;
    text-align: center;
}