.caption {
    text-align: center;
}

.category__item img {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    background: var(--clr-purple-dark);
    background: linear-gradient(180deg, rgba(115, 93, 120, 0.5) 0%, rgba(179, 146, 172, 0.3) 30%, rgba(226, 226, 226, 0.2) 100%);
    width: 100%;
    height: 256px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 700;
    padding: 1em;
    text-align: center;
    border-radius: 15px;
}

.overlay p {
    border: 2px solid white;
}

.category__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

.category__item {
    position: relative;
    margin: 3%;
}

.category__item:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.no-categories {
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-purple-dark);
    padding: 2rem;
}