.container {
    display: flex;
}

.form-container {
    width: 60%;
    margin: 0 auto;
}

.form-container input[type="text"],
.form-container input[type="submit"] {
    margin-bottom: 2rem;
}

.form-check {
    display: flex;
    gap: 30px;
    margin: 2rem 0rem;
}

.form-check label {
    display: inline-block;
    width: 150px;
}

.flex-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-items__item {
    width: 45%;
}

.flex-items__item input {
    width: 80%;
}

.flex-items div label {
    display: block;
}

.flex-items div p {
    display: inline;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed var(--clr-purple-dark);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    margin-bottom: 2em;
}

.drop-container:hover {
    background-color: #fbfbfb;
    border-color: var(--clr-yellow);
}

.drop-title {
    color: var(--clr-purple-font);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}