.existing-categories {
    margin-bottom: 0.5rem;
}

.category-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.category-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-form input[type="text"] {
    width: 85%;
}