.existing-categories {
    margin: 2rem 0;
}

.category-form {
    display: flex;
    flex-wrap: wrap;
}

.category-form input[type="text"] {
    width: 100%;
}

.category-form input[type="file"] {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}

.category-form .button {
    width: 100%;
}