.guarantee__list {
    display: flex;
    justify-content: space-evenly;
}

.guarantee__list li {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    padding-bottom: 2rem;
}

.guarantee__list li img {
    transition: 0.5s;
}

.guarantee__list li .icon {
    padding: 2rem;
    border-radius: 100%;
    align-items: center;
    font-size: 3rem;
    color: var(--clr-purple-dark);
    position: relative;
    z-index: 10;
}

.guarantee__list li p {
    background-color: var(--clr-rose-ash);
    padding: 1rem;
    height: 120px;
    color: var(--clr-purple-font);
    display: flex;
    align-items: center;
    justify-content: center;
}

.guarantee__list {
    position: relative;
    overflow: hidden;
}

.guarantee__list .blob {
    position: relative;
    height: 130px;
}

.guarantee__list .blob img {
    width: 150px;
    position: absolute;
    z-index: 0;
}

.guarantee__list .blob .blob__purple {
    left: 25px;
    top: -20px;
}

.guarantee__list .blob .blob__yellow {
    top: -10px;
    left: 10px;
}

.guarantee__list li:hover .blob__yellow {
    -webkit-transform: linear(-45px);
    top: -20px;
    left: -5px;
    opacity: 0.7;
}

.guarantee__list li:hover .blob__purple {
    -webkit-transform: linear(-45px);
    top: -25px;
    left: 30px;
    opacity: 0.5;
}