.new__item {
    background-color: var(--clr-white);
}

.new__item img {
    transition: 0.6s;
}

.new__item:hover img {
    transform: scale(0.90, 0.90);
}

.new__description {
    top: 2rem;
    position: absolute;
}

.new__description .item-name {
    color: var(--clr-white);
    background: var(--clr-purple-dark);
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: relative;
    left: -8px;
}

.new__description .item-name:before,
.new__description .item-name:after {
    content: "";
    position: absolute;
}

.new__description .item-name:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid black;
    border-left: 8px solid transparent;
}

.new__description .item-name:after {
    height: 0;
    width: 0;
    right: -14.6px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid var(--clr-purple-dark);
}

.new__description .item-price {
    background-color: var(--clr-yellow);
    padding: 8px;
    max-width: fit-content;
    text-align: center;
}

.no-new-items {
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-purple-dark);
    padding: 2rem;
}