.blog__article__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 180px;
}

.blog__article {
    min-height: 100%;
    overflow: hidden;
}

.blog__article:hover img {
    transform: scale(0.90, 0.90);
    transition: 0.5s;
}

.blog__article__description p {
    max-height: 120px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
    text-align: justify;
}

.blog__article__description h3 {
    max-height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
}

.blog__article__description p,
.blog__article__description h3 {
    padding: 0rem 0.5rem;
}

.blog__buttons {
    display: flex;
}