
.container {
    padding: 2rem 0 2rem 0;
    width: 80%;
    margin: 2rem auto;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.container__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding: 2rem 0 2rem 0;
    align-items: baseline;
}

.container__pagination {
    padding-top: 2rem;
    text-align: center;
}

.table__header,
.table__row {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid var(--clr-gray);
}

.table__header {
    font-weight: bold;
    color: var(--clr-white);
    background-color: var(--clr-gray);
    font-size: 1.275rem;
}

.row__actions {
    color: var(--clr-gray);
}

i.view:hover {
    color: var(--clr-dark-green);
}

i.delete:hover {
    color: var(--clr-dark-red);
}

i.edit:hover {
    color: var(--clr-dark-orange);
}

i.view,
i.delete,
i.edit {
    font-size: 1.25rem;
    cursor: pointer;
}

.table__row:not(:first-child):hover {
    background-color: var(--clr-gray-background);
}