.favourites__content {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.favourites__empty {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    width: 40%;
    margin: 0 auto;
}

.favourites__empty a {
    width: 200px;
    text-align: center;
}

.favourites img {
    width: 20%;
}

.favourites__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.favourites__content .favourites__item {
    position: relative;
    background-color: var(--clr-white);
    padding: 2rem;
    display: flex;
    gap: 5%;
    align-items: center;
}

.trash,
.cart {
    color: var(--clr-gray);
    position: absolute;
    top: 0px;
    padding: 1rem;
    font-size: 1.125em;
}

.trash {
    right: 0px;
}

.cart {
    right: 40px;
}

.hidden-text__cart,
.hidden-text__trash {
    display: none;
    padding-top: 40px;
}

.trash:hover,
.hidden-text__trash {
    color: var(--clr-red);
}

.trash:hover+.hidden-text__trash {
    display: block;
}

.cart:hover+.hidden-text__cart {
    display: block;
}

.cart:hover,
.hidden-text__cart {
    color: var(--clr-green);
}

.item__description {
    min-width: 170px;
}

.item__actions {
    position: absolute;
    top: 0px;
    right: 0px;
}