.image__preview {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.update .buttons {
    display: flex;
}

.update button.update,
.update a.close {
    width: 50%;

}

.update select {
    margin-bottom: 2rem;
}

.update .form-check {
    display: flex;
    padding: 2rem 0;
    gap: 30px;
}