.discounted__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
}

.discounted__item {
    background-color: var(--clr-white);
    margin: 3%;
}

.discounted__item img {
    max-height: 250px;
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
    transition: 0.6s;
    object-fit: cover;
}

.discounted__item:hover img {
    transform: scale(0.90, 0.90);
}

.discounted__description,
.discounted__tag {
    top: 5rem;
    position: absolute;
}

.discounted__description .item-name {
    color: var(--clr-white);
    background: var(--clr-purple-dark);
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: relative;
    left: -8px;
}

.discounted__description .item-name:before,
.discounted__description .item-name:after {
    content: "";
    position: absolute;
}

.discounted__description .item-name:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid black;
    border-left: 8px solid transparent;
}

.discounted__description .item-name:after {
    height: 0;
    width: 0;
    right: -14.6px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid var(--clr-purple-dark);
}

.discounted__description .item-price {
    background-color: var(--clr-yellow);
    padding: 8px;
    max-width: fit-content;
    text-align: center;
}

.no-discounted-items {
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-purple-dark);
    padding: 2rem;
}

s {
    text-decoration: none;
    position: relative;
}

s::before {
    top: 50%;
    background: red;
    opacity: .7;
    content: '';
    width: 110%;
    position: absolute;
    height: .1em;
    border-radius: .1em;
    left: -5%;
    white-space: nowrap;
    display: block;
    transform: rotate(-15deg);
}

s::after {
    top: 50%;
    background: red;
    opacity: .7;
    content: '';
    width: 110%;
    position: absolute;
    height: .1em;
    border-radius: .1em;
    left: -5%;
    white-space: nowrap;
    display: block;
    transform: rotate(15deg);
}

.final-price {
    font-weight: 800;
}