.register-container,
.login-container {
    display: flex;
}

.register-container label,
.login-container label {
    padding-top: 2rem;
}

.register-container input[type="submit"],
.login-container input[type="submit"] {
    margin: 2rem 0;
}

.register-container input[type="submit"]:disabled,
.login-container input[type="submit"]:disabled {
    cursor: no-drop;
}

.register-container__image,
.login-container__image {
    width: 100wv;
    height: 100vh;
    background-image: url(../../img/login/cover-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.register-container__image,
.register-container__form,
.login-container__image,
.login-container__form {
    width: 50%;
}

.register-container__form,
.login-container__form {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -50%);
}

.register-container__form input {
    margin-bottom: 2rem;
}

.remember-me {
    padding: 2rem 0rem;
}