@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --clr-peach: rgb(247, 211, 207);
    --clr-pink: rgb(232, 194, 202);
    --clr-rose-ash: rgb(209, 179, 196);
    --clr-purple-light: rgb(180, 147, 173);
    --clr-purple-dark: rgb(115, 93, 120);
    --clr-purple-font: rgb(80, 65, 84);
    --clr-yellow: rgb(255, 204, 95);
    --clr-gray: rgb(191, 191, 191);
    --clr-gray-background: rgb(242, 242, 242);
    --clr-white: rgb(255, 255, 255);
    --clr-background: rgba(209, 179, 196, 0.1);

    /* For actions, messages, connectivity, status */
    --clr-green: #36B37E; /* confirm or view, success, available, added */
    --clr-dark-green: #2b8f64;
    --clr-blue: #0065FF; /* add, information, - , in progress */
    --clr-dark-blue: #0050cc;
    --clr-red: #FF5630; /* remove, error, busy, removed or failed */
    --clr-dark-red: #cc4426;
    --clr-neutral: #bcbcc0; /* secondary, - , unavailable, default */
    --clr-dark-neutral: #8d8d90;
    --clr-orange: #FFAB00; /* edit, warning, moved, medium or blocked */
    --clr-dark-orange: #e59900;

    --padding-buttons: 10px 7px;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-image: url('../src/img/background-purple.png');

}

/* main article {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 20px;
    height: fit-content
} */

/* main article:nth-child(odd) {
    background-image: url('../src/img/background-yellow.png');
}

main article:nth-child(even) {
    background-image: url('../src/img/background-purple.png');
} */

h1 {
    font-size: 2rem;
    padding: 30px 0 8px;
    position: relative;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

h1::before {
    content: "";
    position: absolute;
    left: 49%;
    bottom: 16px;
    width: calc(100% + 4px);
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: var(--clr-pink);
    z-index: -1;
}

h3 {
    text-align: center;
}

h1,
h2,
h3 {
    color: var(--clr-purple-font);
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
    border: 0;
    outline: none;
    padding: 0.5em;
    border-bottom: 2px solid var(--clr-purple-dark);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus {
    border-bottom: 2px solid var(--clr-yellow);
}

button,
input[type="submit"],
input[type="button"] {
    border: 0;
    font-family: inherit;
    background-color: none;
    background: none;
    cursor: pointer;
}


input[type=file] {
    max-width: 100%;
    color: var(--clr-purple-font);
    border: 1px solid var(--clr-purple-font);
}

input[type=file]::file-selector-button {
    border: unset;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    padding: 10px 20px;
    cursor: pointer;
    transition: background .3s ease-in-out;
    padding: 13px;
}

input[type=file]::file-selector-button:hover {
    background-color: var(--clr-dark-blue);
}

input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    background: var(--clr-gray);
    border: 3px solid var(--clr-white);
    outline: 1px solid var(--clr-gray);
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background: var(--clr-yellow);
    outline: 1px solid var(--clr-purple-font);
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    font-weight: bold;
}

select {
    background: none;
    cursor: pointer;
    margin-bottom: 2rem;
    padding: 0.5em;
}

select option:checked {
    background-color: var(--clr-gray);
}

textarea {
    border: 0;
    outline: none;
    padding: 0.5em;
    border: 2px solid var(--clr-purple-dark);
    margin-bottom: 2rem;
    max-width: 100%;
}

textarea:focus {
    border: 2px solid var(--clr-yellow);
}

div[class*="buttons"] {
    margin: 20px 0;
}

.button {
    padding: var(--padding-buttons);
    text-decoration: none;
}

.button.purple {
    color: var(--clr-purple-font);
    border: 1px solid var(--clr-purple-dark);
}

.button.purple:hover {
    color: var(--clr-white);
    background-color: var(--clr-purple-dark);
}

.button.yellow {
    color: var(--clr-purple-font);
    border: 1px solid var(--clr-yellow);
}

.button.yellow:hover {
    background-color: var(--clr-yellow);
    color: var(--clr-white);
}

.button.red {
    color: var(--clr-white);
    background-color: var(--clr-red);
}

.button.red:hover {
    background-color: var(--clr-dark-red);
}

.button.blue {
    color: var(--clr-white);
    background-color: var(--clr-blue);
}

.button.blue:hover {
    background-color: var(--clr-dark-blue);
}

.button.green {
    color: var(--clr-white);
    background-color: var(--clr-green);
}

.button.green:hover {
    background-color: var(--clr-dark-green);
}

.button.orange {
    color: var(--clr-white);
    background-color: var(--clr-orange);
}

.button.orange:hover {
    background-color: var(--clr-dark-orange);
}

.button.neutral {
    color: var(--clr-white);
    background-color: var(--clr-neutral);
}

.button.neutral:hover {
    background-color: var(--clr-dark-neutral);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fa-icon {
    padding-right: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.inline {
    display: inline;
}

.new__items,
.discounted__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 3%;
}

.category__item,
.new__item,
.discounted__item {
    max-width: 20%;
    border: 1px solid var(--clr-gray);
    border-radius: 15px;
    overflow: hidden;
}

.category__item:hover,
.new__item:hover,
.discounted__item:hover {
    border: 1px solid var(--clr-purple-light);
}

.new-tag,
.discount-tag {
    position: absolute;
    color: var(--clr-white);
    top: -70px;
    right: -215px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    align-items: center;
    text-align: center;
}

.discount-tag {
    background-color: var(--clr-red);
    border: 5px solid var(--clr-dark-red);
}

.new-tag {
    background-color: var(--clr-green);
    border: 5px solid var(--clr-dark-green);
}


.container input,
.container textarea {
    background-color: unset;
}

/* TODO responsive */

/* Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080. */

/* 1 	1920×1080 	104,190(22.62%)
2 	1366×768 	51,580(11.20%)
3 	1440×900 	44,003(9.55%)
4 	1536×864 	39,606(8.60%)
5 	2560×1440 	34,152(7.41%)
6 	1680×1050 	19,730(4.28%)
7 	1280×720 	16,364(3.55%)
8 	1280×800 	10,719(2.33%)
9 	1792×1120 	9,494(2.06%)
10 	1600×900 	8,630(1.87%) */