.item-labels {
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
}

.item-labels label {
    display: inline-block;
    width: 150px;
}

.create .buttons {
    display: flex;
    width: 100%;
}

.create input.create,
.create a.close {
    width: 50%;
    height: fit-content;
}

.inputs {
    padding-bottom: 2rem;
}

.create select {
    margin-bottom: 1.5rem;
}