@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.heart {
    animation: zoom-in-zoom-out 0.5s ease infinite;
}

footer {
    text-align: center;
    padding: 15rem 0 2rem 0;
    background-color: var(--clr-yellow);
    color: var(--clr-purple-dark);
    height: 430px;
}