.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 0 2rem;

}

.fa-magnifying-glass {
    padding-right: 0.5rem;
}

.logo {
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
}

.navigation__links li a {
    color: var(--clr-white);
    text-decoration: none;
    font-weight: 700;
}

.header__info {
    background-color: var(--clr-purple-dark);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
}

.phone a,
.location a,
.email a,
.social-media,
.social-media a {
    color: var(--clr-white);
    text-decoration: none;
}

.navigation {
    border-top: 5px solid var(--clr-yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background: linear-gradient(180deg, rgba(115, 93, 120, 0.5) 0%, rgba(179, 146, 172, 0.3) 60%, rgba(226, 226, 226, 0.2) 100%);
    position: absolute;
    width: 100%;
    padding: 0 2rem 0 2rem;
}

.hero img {
    z-index: -1;
}

.header__search-bar i {
    position: relative;
    left: -20px;
}

/*.header__search-bar input {
    padding-left: 25px;
} */

.navigation__links,
.header__buttons {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
}

.header__buttons .button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    border: 1px solid var(--clr-yellow);
    padding: 2px 6px;
    text-decoration: none;
}

.header__buttons .button:hover {
    background-color: var(--clr-yellow);
    color: var(--clr-white);
}

.navigation__links li a:hover {
    color: var(--clr-yellow);
}