@import url(reset.css);
@import url(header.css);
@import url(category.css);
@import url(gurantee.css);
@import url(blog.css);

@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --clr-peach: rgb(247, 211, 207);
    --clr-pink: rgb(232, 194, 202);
    --clr-rose-ash: rgb(209, 179, 196);
    --clr-purple-light: rgb(179, 146, 172);
    --clr-purple-dark: rgb(115, 93, 120);
    --clr-purple-font: rgb(80, 65, 84);
    --clr-yellow: rgba(255, 204, 95);
    --clr-gray: rgb(191, 191, 191);
    --clr-white: rgb(255, 255, 255);
}

body {
    font-family: 'Arsenal', sans-serif;
}

h1 {
    font-size: 2rem;
    padding: 30px 0 8px;
    position: relative;
    color: var(--clr-purple-font);
}

h1::before {
    content: "";
    position: absolute;
    left: 49%;
    bottom: 16px;
    width: 150px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: var(--clr-pink);
    z-index: -1;
}

i {
    padding-right: 0.5rem;
}