.container__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.container__form input {
    margin-bottom: 1rem;
}

.container__map {
    border: 0;
    width: 80%;
    height: 650px;
}

.contacts {
    display: flex;
    gap: 5%;
    width: 80%;
    margin: 0 auto;
}

.contacts textarea {
    min-width: 100%;
}